@import "./loginPage/loginPage.scss";
@import "./boardsPage/boardsPage.scss";
@import "./test.scss";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  font-style: normal;
  font-size: 12px;
  scrollbar-width: thin;
  .bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

.app {
  background-position: 50%;
  background-size: cover;
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  font-size: .8rem;
}


