{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Super CDR for Deka</title>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
<script defer src="../../static/main/js/bundle.js"></script><link href="../../static/main/js/../css/index.css" rel="stylesheet"></head>
<body>
    <img src="{% static 'main/images/bg1.jpg' %}" alt="" class="bg">
    <div class="app">
        <div class="form-input">
            <div class="selector">
                <div class="btn">Регистрация</div>
                <div class="btn">Авторизация</div>
            </div>


            <form action="{% url 'reg' %}" class="field" method="POST">
                {% csrf_token %}
                {% for item in form1 %}
                {{item}}
                <div class="form-error">{{ item.errors }}</div>
                {% endfor %}
                <button class="action" type="submit">Регистрация</button>
            </form>
        </div>

    </div>
</body>
</html>